.carousel-inner {
	margin: 30px;
}

#individualChart {
	height: 800px !important;
	width: 1400px !important;
}

.carousel-control {
	width: 100px;
	background-image: none;
	background-color: white;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.glyphicon {
	color: black;
}